@layer components {
  .author-detail {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    padding: var(--space-4);
  }

  .author-detail > a {
    align-self: flex-start;
  }
}
