@layer components {
    .tag-form {
        display: flex;
        gap: var(--space-2);
        padding: var(--space-4) 0;
    }

    .tag-form input {
        flex: 1;
        padding: var(--space-2);
    }

    .tag-form .form-actions {
        display: flex;
        gap: var(--space-1);
    }

    .tag-form button {
        padding: var(--space-2) var(--space-4);
    }
}
