<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="logDir">${sys:log.dir:-logs}</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%level] %msg%n"/>
        </Console>

        <RollingFile name="FILE"
                     fileName="${logDir}/biblos.log"
                     filePattern="${logDir}/biblos-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%level] [%t] %c{1.} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5" min="1" compressionType="none" totalSizeCap="50 MB"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.biblos" level="DEBUG" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>
